body {
    width: 100%;
    overflow: hidden;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
}

#profileImage {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px rgb(218, 218, 218);
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 25px rgb(218, 218, 218);
    margin-top: 15px;
}

#links {
    margin-top: 30px;
}
a {
    text-decoration: none;
    margin: 20px;
}
img .icon {
    -webkit-filter: drop-shadow(0px 0px 10px rgb(179, 179, 179));
    filter: drop-shadow(0px 0px 25px rgb(179, 179, 179));
} 